{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
 <div class="container-fluid">
        <div class="row form-group">
            <div class="col-lg">
                <h2>
				Hello et Bienvenue,<br>

				Vous allez passer un week-end ou des vaccances
			</h2>

			<h5>
				Je vais commencé pas vous expliquer le fonctionnement du site web.
			</h5>
				<ul>
				<li class="list-item">
					a votre droite vous avez des liens utiles ou les activité disponible
				</li>
				<li class="list-item">
					vous pouvez aussi trouvé dans certain onglet le matériel disponible sur site.
				</li>
				<li class="list-item">
					En cas de problème n'hésité pas a contacté le support bien qu'il reste pas de pouvoir vous repondre
				</li>

			</ul>
            </div>
            <div class="col-sm-4">
                <div class="card text-white bg-primary mb-3" style="width: 40rem;">
					<div class="card-body">
    				<h4 class="card-title">Activité</h4>
    				<h6 class="card-subtitle mb-2 text-muted">Site officiel Lenk</h6>
    					<p class="card-text">Vous pouvez voir sous les liens si dessous des liens utile pour vos vaccances avec des activités qui sont disponibles</p>
    						<a href="https://lenk-simmental.ch/fr/" class="card-link">Site Officiel Lenk Français</a>
							<a href="https://lenk-simmental.ch/" class="card-link">Site Officiel Lenk Allemand</a>
							<a href="https://lenk-simmental.ch/en/" class="card-link">Site Officiel Lenk Anglais</a>
  			</div>
		</div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg">
                <p>
                    Blablabla 2
                </p>
            </div>
              <div class="col-sm-4">
                <div class="card text-white bg-primary mb-3" style="width: 40rem;">
					<div class="card-body">
    				<h4 class="card-title">Activité</h4>
    				<h6 class="card-subtitle mb-2 text-muted">Site officiel Lenk</h6>
    					<p class="card-text">Vous pouvez voir sous les liens si dessous des liens utile pour vos vaccances avec des activités qui sont disponibles</p>
    						<a href="https://lenk-simmental.ch/fr/" class="card-link">Site Officiel Lenk Français</a>
							<a href="https://lenk-simmental.ch/" class="card-link">Site Officiel Lenk Allemand</a>
							<a href="https://lenk-simmental.ch/en/" class="card-link">Site Officiel Lenk Anglais</a>
  					</div>
				</div>
            </div>
        </div>
    </div>

{% endblock %}
